# keys ending in dir or file can be relative to nyaarss.py
 
# torrent_dir is where .torrent files are downloaded to
torrent_dir = ./todo

# done_dir is where .torrent files are moved to just before
# torrent_command is executed on them
done_dir = ./done

# regex_file is a file with a regex on each line. These regexes are used to 
# match against titles
regex_file = ./regex_list

# torrent_command is the command that is executed at the end on the earliest
# .torrent file (%f) is the torrent_dir
torrent_command = echo %f

# wait for the following process to stop existing (unix only).
#leave empty to disable
wait_for_process = 